# git clone https://github.com/alacritty/alacritty-theme.git ~/.config/alacritty/themes
alacritty/themes
Lenovo/alacritty/themes

# lazy lock file
nvim/lazy-lock.json

# Thunar
Deepcool/Thunar/accels.scm
