* {
  border: none;
  border-radius: 0;
  font-family: MesloLGS Nerd Font;
  font-weight: 600;
  font-size: 12px;
}

window#waybar {
  background-color: transparent;
  color: rgba(217, 216, 216, 1);
}

#workspaces {
  margin: 5px 0px 5px 4px;
  border-radius: 5px;
}

#workspaces button {
  color: #fff;
  padding: 0px 2px;
  margin: 1px 2px 1px 1px;
  border-radius: 2px;

  background-color: #1d202e;
  color: #7aa2f7;
}

#workspaces button.visible {
  background-color: #394b70;
  color: #24283b;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
}

#workspaces button.active {
  background-color: #7aa2f7;
  color: #24283b;
}

#workspaces button.empty {
  background-color: #2e3440;
}

#workspaces button.urgent {
  background-color: #c53b53;
  color: #ffffff;
}

#custom-date,
#custom-notifications,
#custom-myvpn,
#clock,
#battery,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#cpu,
#memory,
#disk,
#temperature,
#custom-gpu,
#keyboard-state,
#network {
  padding: 0px 6px;
  margin: 5px 0px;
  border-radius: 3px;
  background-color: #1d202e;
  color: #7aa2f7;
}

#custom-notifications {
  font-size: 14px;
}

#pulseaudio {
  padding-right: 10px;
}

#cpu {
  padding-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#temperature {
  padding-left: 8px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#keyboard-state {
  margin: 5px 0px;
  padding: 0px 2px;
}

#keyboard-state > label {
  padding: 0 3px 0px 3px;
}

#taskbar {
  padding-left: 0px;
  margin-left: 0px;
}

#taskbar button {
  padding: 2px 5px;
  margin: 5px 3px 5px 0px;
  border-radius: 5px;
  background-color: #1d202e;
  color: #7aa2f7;
}

#taskbar button.active {
  background-color: #7aa2f7;
  color: #24283b;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 11px 5px 7px;
}

#tray {
  background-color: #455085;
  margin: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 3px;
  padding: 0 10px;
}

#tray > * {
  padding: 0 2px;
  margin: 0 2px;
}
