* {
  border: none;
  border-radius: 0;
  font-family: MesloLGS Nerd Font Mono;
  font-weight: 600;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: #12131a;
  color: white;
}

#workspaces {
  background-color: #1d202e;
  margin: 5px;
  margin-left: 6px;
  border-radius: 5px;
}

#workspaces button {
  padding: 2px 8px;
  color: #fff;
  border-radius: 5px;
  margin-right: 2px;
}

#workspaces button.visible {
  background-color: #394b70;
  color: #24283b;
}

#workspaces button:hover {
  background-color: #7dcfff;
  color: #24283b;
}

#workspaces button.active {
  background-color: #7aa2f7;
  color: #24283b;
}

#workspaces button.empty {
  background-color: #2e3440;
}

#workspaces button.urgent {
  background-color: #c53b53;
  color: #ffffff;
}

#idle_inhibitor,
#custom-date,
#clock,
#battery,
#pulseaudio,
#power-profiles-daemon,
#cpu,
#memory,
#disk,
#temperature,
#custom-gpu,
#network {
  padding: 2px 10px;
  margin: 5px 0px;
  border-radius: 5px;

  background-color: #1d202e;
  color: #7aa2f7;
}

#custom-power {
  color: #24283b;
  background-color: #db4b4b;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#tray {
  background-color: #455085;
  margin: 5px;
  margin-left: 0px;
  margin-right: 6px;
  border-radius: 5px;
  padding: 0 10px;
}

#tray > * {
  padding: 0 2px;
  margin: 0 2px;
}
