* {
  font-family: "MesloLGS Nerd Font Mono Regular";
  /* font-weight: bolder; */
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: rgb(43, 43, 57);
}

.notification-row {
  outline: none;
}

.notification {
  border-radius: 12px;
  margin: 10px;
  padding: 0;
  border: 2px solid #2ac3de;
}

.notification-content {
  background: transparent;
  padding: 10px;
  border-radius: 12px;
}

.close-button {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(169, 177, 214, 1);
  text-shadow: none;
  padding: 0;
  border-radius: 100%;
  margin-top: 10px;
  margin-right: 16px;
  box-shadow: none;
  border: none;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  box-shadow: none;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: rgb(17, 17, 27);
  border: none;
  color: rgba(169, 177, 214, 1);
  transition: all 0.15s ease-in-out;
}

.notification-default-action:hover,
.notification-action:hover {
  -gtk-icon-effect: none;
  background: rgb(27, 27, 43);
}

.notification-default-action {
  border-radius: 12px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.notification-action {
  border-radius: 0;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 10px;
  background: #1b1b2b;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: #1b1b2b;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: rgb(43, 43, 57);
  color: rgba(169, 177, 214, 1);
  caret-color: rgba(169, 177, 214, 1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
}

.inline-reply-button {
  margin-left: 4px;
  background: rgb(17, 17, 27);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 12px;
  color: rgba(169, 177, 214, 1);
}

.inline-reply-button:disabled {
  background: initial;
  color: rgb(150, 150, 150);
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: rgb(27, 27, 43);
}

.body-image {
  margin-top: 6px;
  background-color: #fff;
  border-radius: 12px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: rgba(187, 154, 247, 1);
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: rgba(169, 177, 214, 1);
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: rgba(169, 177, 214, 1);
  text-shadow: none;
}

.control-center {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #2ac3de;
  border-radius: 10px;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.25);
}

.widget-title {
  color: rgba(169, 177, 214, 1);
  margin: 10px;
  font-size: 1.5rem;
}

.widget-title > button {
  font-size: initial;
  color: rgba(169, 177, 214, 1);
  text-shadow: none;
  background: rgb(17, 17, 27);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: none;
  border-radius: 12px;
}

.widget-title > button:hover {
  background: rgb(27, 27, 43);
}

.widget-dnd {
  color: rgba(169, 177, 214, 1);
  margin: 10px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 12px;
  background: rgb(17, 17, 27);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: rgb(0, 128, 255);
}

.widget-dnd > switch slider {
  background: rgb(27, 27, 43);
  border-radius: 12px;
}

.widget-label {
  margin: 10px;
}

.widget-label > label {
  font-size: 1.5rem;
  color: rgba(169, 177, 214, 1);
}

.widget-mpris {
  color: rgba(169, 177, 214, 1);
  background: rgb(43, 43, 57);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.widget-mpris-player {
  padding: 8px;
  margin: 8px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 8px;
  margin: 20px 10px 10px;
  border-radius: 12px;
  background: rgb(43, 43, 57);
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  background: #343b58;
  border-radius: 12px;
  color: rgba(169, 177, 214, 1);
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  /* background: rgb(27, 27, 43); */
  color: rgba(158, 206, 106, 1);
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.widget-volume {
  background: rgb(43, 43, 57);
  padding: 8px;
  margin: 10px;
  border-radius: 12px;
  font-size: x-large;
  color: rgba(169, 177, 214, 1);
}

.widget-volume > box > button {
  background: transparent;
  border: none;
}

.per-app-volume {
  background-color: rgb(17, 17, 27);
  padding: 4px 8px 8px;
  margin: 0 8px 8px;
  border-radius: 12px;
}

.widget-backlight {
  background: rgb(43, 43, 57);
  padding: 8px;
  margin: 10px;
  border-radius: 12px;
  font-size: x-large;
  color: rgba(169, 177, 214, 1);
}

.widget-inhibitors {
  margin: 8px;
  font-size: 1.5rem;
}

.widget-inhibitors > button {
  font-size: initial;
  color: rgba(169, 177, 214, 1);
  text-shadow: none;
  background: rgb(17, 17, 27);
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: none;
  border-radius: 12px;
}

.widget-inhibitors > button:hover {
  background: rgb(27, 27, 43);
}
